.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left{
    display: flex;
    position: relative;
    flex : 1;
    flex-direction: column;
    gap : 1.8rem;
    margin-left: 150px;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    color : #cf4f4f ;
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2){
    color : #FCA61F ;
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3){
    color :  #8695b8;
    font-weight: 100;
    font-size: 14px;
}

.i-icon>*{
    color : #d7a657 ;
}

.i-right{
    flex : 1;
}

.btn{
    width: 6rem;
    height: 2rem;
    border-radius: 34px;
    border : none;
    color : white;
    font-size: 16px;
    padding: 10px;
    background: linear-gradient(180deg , #fdc50f 26.71% , #fb982f 99.38%);
    box-shadow: 0px 20px 24px 3px rgba(251,161,40,0.42);
}

.i-icon{
    margin-top: 3rem;
    display: flex;
    gap : 0rem;
}

.i-icon>*{
    transform: scale(0.9) ;
}

.i-icon>*:hover{
    cursor: pointer;
}

.i-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    position: relative;
  }
  
.circle {
    width: 250px; 
    height: 250px;
    background-color: #fff; 
    border-radius: 50%; 
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -180px;
  }
  
.circle-image {
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
  }

  .blur{
    position: absolute;
    width: 22rem;
    height:14rem ;
    border-radius: 50%;
    background: #edd0ff;
    z-index : -9;
    top : -18%;
    left :46%;
    filter : blur(120px);

  }