.services{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
    margin-left: 150px;
}

.btn{
    width: 6rem;
    height: 2rem;
    border-radius: 34px;
    border : none;
    color : white;
    font-size: 16px;
    padding: 10px;
    background: linear-gradient(180deg , #fdc50f 26.71% , #fb982f 99.38%);
    box-shadow: 0px 20px 24px 3px rgba(251,161,40,0.42);
}

.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}

.awesome > :nth-child(1){
    color :#040404;
    font-size: 2rem;
    font-weight: bold;
}

.awesome > :nth-child(2){
    color : #FCA61F;
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome > :nth-child(3){
    color :#788097 ;
    font-size: 14px;
    margin-top: 1rem;
}

.s-button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}

.cards{
    position: relative;
}

.cards>*{
    position: absolute;
}


.s-blur{
    top : -30rem;
    left:-30rem;
}

.s-blur3{
    top : 10rem;
    left: 3rem;
}