.experience{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 8rem;
}

.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 370px;
}

.new_circle{
    width: 6rem;
    height: 4rem;
    background: white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #090909;
    flex-grow: 1;
}

.new_circle:before{
    border-radius: 50%;
    content: '';
    background-image: linear-gradient(to bottom , #67e5f3 0% , #ffff5c 100%);
    top : -8px;
    left :-8px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: 0px 19px 60px rgba(18, 17, 17, 0.08);

}
.education span:nth-of-type(1){
    color :rgb(209, 144, 103)
    
}

.education span:nth-of-type(2){
    color :rgb(242, 69, 69)
}

@keyframes rotateAnimation {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(20deg);
    }
  }
  
  .education.rotate {
    animation: rotateAnimation 3s linear infinite;
  }

  .education-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width :100%;
    max-width: 800px;
  }

  .education-image {
    width: 700px; 
    height: 300px; 
    margin-right: 20px;
  }

  .education-image-container{
    position: absolute;
    top :0;
    left:0;
    z-index :-1
  }
 
  .new_circle + .new_circle {
    margin-left: 20px; 
  }

  .education-container .education span{
    font-weight: bold;
  }

  .education span{
    text-shadow: -10px 6px 4px rgba(0,0,0,0.5);
  }
  
